ALTER TABLE public.users DISABLE ROW LEVEL SECURITY; ALTER TABLE public.students DISABLE ROW LEVEL SECURITY; ALTER TABLE public.reports DISABLE ROW LEVEL SECURITY; ALTER TABLE public.justifications DISABLE ROW LEVEL SECURITY; ALTER TABLE public.announcements DISABLE ROW LEVEL SECURITY;
